#wrapper {
  text-align: center;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 30%;
  max-width: 50%;
  margin: 0 auto;
}

#shopping-list {
  box-shadow: 20px 20px 0px #222f3e;
}

.loading {
  box-shadow: 20px 20px 0px #5f7588 !important;
}

form {
  display: flex;
  flex-direction: row;
}

form > input {
  flex-grow: 1;
  outline: none;
  padding-left: 4px;
  border: 0px;
  height: 20px;
  text-align: right;
}

form > button {
  border: 0px;
  background: #0c79d6;
  color: white;
  outline: none;

  &:hover {
    background: #095ca2;
    transform: scale(1.2);
  }
}

ul {
  list-style: none;
  background: #539ddc;
  padding: 10px 0px;
  margin: 0px;
  max-height: 250px;
  overflow: scroll;
}

li {
  padding-bottom: 4px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  margin-bottom: 2px;
}

h2 {
  background: #0c79d6;
  padding: 10px 0px;
  margin: 0px;
}

.menu {
  position: relative;

  & > button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    height: 30px;
    background: #0c79d6;
    color: #fff;
    cursor: pointer;
  }

  & > button:hover {
    background: #539ddc;
  }
}

.items {
  position: relative;
}

.items {
  position: relative;

  .action {
    position: absolute;
    left: 5px;

    &>button {
      border-radius: 30%;
      background: #539ccc;
      height: 18px;
      cursor: pointer;
      color: #fff;
    }
  }
}

